.imagenesCatalago {
  text-align: center;
  margin: 20px;
  @include flex (unset, center, center, unset);
}

.card {
  margin: 50px;
}

.btn {
  background-color: $colorterceario;
  color: #ffffff;
  border: none;
  border-radius: 10px;
}

.btn {
  transition: transform 0.5s;
}

.btn:hover {
  transform: scale(1.2);
}

.catalogo {
  margin-top: 20px;
  padding: 50px;
  font-size: 50px;
}


.bodyCat {
  background-color: rgb(245, 245, 245);
}

.mainCat {
  margin: 0px 5%;
}

.c {
  width: 250px;
  height: 250px;
  padding: 45px;
}

.c {
  transition: transform 1s;
}

.c:hover {
  transform: scale(1.2);
}


.wow {
  color: $colorterceario;
  text-decoration: none;
  margin-top: 30px;
  text-align: center;
}